@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
body
{
    min-height: 100vh;
    overflow-x: hidden;
    background: linear-gradient(#2a5d9d, #7597de);
}
header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}
header .logo
{
    color: #ffffff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}
header ul
{
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li
{
    list-style: none;
    margin-left: 20px;
}
header ul li a
{
    text-decoration: none;
    padding: 6px 15px;
    color: #f17e0d;
    border-radius: 20px;
}
header ul li a:hover,
header ul li a.active
{
    background: #fff;
    color: #2b1055;
}
section
{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
section::before
{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #1c0522, transparent);
    z-index: 1000;
}
section img
{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}
section img#moon
{
    mix-blend-mode: screen;
}
section img#mountains_front
{
    z-index:10;
}
#text
{
    position: absolute;
    right: -160px;
    color: #f17e0d;
    white-space: nowrap;
    font-size: 5vw;
    text-shadow: 1px 1px #1c0522;
    z-index: 9;
}
#btn
{
    text-decoration: none;
    padding: 8px 30px;
    border-radius: 40px;
    background: #fff;
    color: #e1630c;
    font-size: 1.5em;
    z-index: 9;
    transform: translateY(100px);
}
.sec
{
    position: relative;
    padding: 100px;
    background: #1c0522;
}
.sec h2
{
    font-size: 2.5em;
    margin-bottom: 10px;
    color: #fff;
}
.sec p
{
    font-size: 1em;
    color: #fff;
}
.sec2
{
    position: relative;
    padding: 100px;
    background: #1c0522;
}
.sec2 h2
{
    font-size: 2.5em;
    margin-left: 220px;
    margin-bottom: 10px;
    color: #fff;
}
.sec3
{
    position: relative;
    padding: 50px;
    background: #1c0522;
}
.sec3 h2
{
    font-size: 2em;
    margin-bottom: 10px;
    color: #fff;
}
.inputRow
{

}
.inputBox
{
    position: relative;
    width: 750px;
    padding: 10px;
    margin-left: 290px;
    box-shadow: 3px 3px 15px #746cd2;

}
.inputBox input
{
    width: 100%;
    padding: 10px;
    border: 2px solid rgba(255, 255, 255, 0.25);
    background: #7597de;
    border-radius: 5px;
    outline: none;
    color: #fff;
    text-align: center;
    font-size: 1em;
    transition: 0.5s;
}
.inputBox span
{
    position: absolute;
    left:0;
    padding: 10px;
    pointer-events: none;
    font-size: 0.9em;
    text-align: center;
    color: rgba(0, 0, 0, 0.34);
    text-transform: uppercase;
}
.inputBox input:valid ~span,
.inputBox input:focus ~span
{
    color: #ffff;
    transform: translateX(10px) translateY(-7px);
    font-size: 0.65em;
    padding: 0 10px;
    background: #2b1055;
    border-left: 1px solid #7597de;
    border-right: 1px solid #7597de;
    letter-spacing: 0.2em;
}
.inputBox input:nth-child(2) input:valid ~span,
.inputBox input:nth-child(2) input:focus ~span
{
    background: #7597de;
    color: #2b1055;
    border-radius: 2px;
}
.inputBox input:valid,
.inputBox input:focus
{
    border: 1px solid #7597de;
}
.but button {
    border: none;
    color: #6278bc;
    padding: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin-top: 30px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 510px;
    width: 325px;
}
.concentration
{
    color: white;
    font-size: 20px;
    padding: 25px;
    margin-left: 5px;
    margin-top: 20px;
}
#myBtn
{
    display: none;
    position: fixed;
    bottom: 50px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #6875ce;
    color: #471056;
    cursor: pointer;
    padding: 15px;
    border-radius: 50px;
    font-size: 18px;
}
#myBtn:hover
{
    background-color: #1c0522;
}
.copyright
{
    font-size:17px;
    font-style:inherit;
    font-weight:1;
    color: grey;
    text-align: center;
}
